<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGfI6X92-59Hm_qbpFyUG4GnN4NKosfb7CJofdpDtwA31PplPt" class="rounded float-left" alt="Responsive image">
<h1>Sit</h1>
<ul class="list-group">
  <li class="list-group-item">Make sure your dog is interested in the treat you use.</li>
  <li class="list-group-item">Make sure your in a non-distracting environment.</li>
  <li class="list-group-item">Begin to raise the treat until they lower they're butt to the floor when they do reward them.</li>
  <li class="list-group-item">Reduce rewards to once every 3 times they sit.</li>
  <li class="list-group-item">Work up to using no treats at all.</li>
</ul>
