<ul class="list-group">
  <li class="list-group-item">Make sure your dog can do {{#link-to 'sit'}}sit{{/link-to}}.</li>
  <li class="list-group-item">Make sure your in a non-distracting environment.</li>
  <li class="list-group-item">Ask your dog to sit and reward them.</li>
  <li class="list-group-item">Hold a treat in front of them for 2 seconds. If they stay seated reward them.</li>
  <li class="list-group-item">Hold a treat in front of them for 5 seconds. If they stay seated reward them.</li>
  <li class="list-group-item">Hold a treat in front of them for 7 seconds. If they stay seated reward them.</li>
  <li class="list-group-item">Hold a treat in front of them for 10 seconds. If they stay seated reward them.</li>
  <li class="list-group-item">Repeat holding the treat for 10 seconds.</li>
  <li class="list-group-item">Begin increasing the distance between you and your dog. If they follow you walk them back to the place you began, make them sit again and decrease the distance.</li>
</ul>
